.titlebar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  -webkit-app-region: drag; // Allows user to drag window from this block
  // background-color: $background-color;

  &__title {
    color: $text-color;
    width: fit-content;
    margin: auto;
    padding-top: 10px;
  }
}
